html{
    background-color: black;
}
img{
    margin-left: 430px;
    margin-top: 70px;
    border: 10px solid white;
    

}
h1{
    font-size: 50pt;
    color: white;
    text-align: center;
    margin-top: 9px;
    
}
